matplotlib
numpy
opencv_python
opencv_python_headless
pylibdmtx
pyzbar
qreader
ultralytics
torch
opencv-python
matplotlib
numpy
pillow
paddleocr
paddlepaddle
opencv-python 
matplotlib 
pillow-heif  
pyvips
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git
